@if (Product != null)
{
    <tr>
        <td>
            <NavLink href=@($"products/{Product.Id}")>
                @Product.Name
            </NavLink>
        </td>
        <td>@Product.Brand</td>
        <td>@Product.Price.ToString("c")</td>
    </tr>
}
