<div class="card col-4">
    <NavLink href=@($"/products/{Product.Id}")>
        <img 
            class="card-img-top"
            src=@Product.ImageLink />
        <div class="card-body">
            <h5 class="card-title">@Product.Name</h5>
            <p class="card-text">@Product.Price</p>
        </div>
    </NavLink>
</div>
@code
{
    [Parameter] public Product Product { get; set; }
}